modules = ["web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 36784306

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node main.py"
